@font-face {
    font-family: Roboto;
    src: url(assets/Roboto-Black.ttf);
}

html {
    background: url(assets/main-background.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.time-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1vw;
}

.main-container {
    height: 90%;
    width: auto;
    margin: 2vw;
}

.main-container>* {
    border-radius: 1vw;
}

.finished-posts-container {
    display: flex;
    flex-direction: column;
}

.finished-posts {
    /* Used as box to modify the size of the buttons */
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 1vw;

    width: 25vw;
    height: 80%;
    /* overflow-y: auto; /* makes div scrollable */
    position: absolute;
    text-align: center;
    margin-left: 5vw;

    background: #323232;

    overflow: auto;

}

.upcoming-posts {
    /* Used as box to modify the size of the buttons */
    border-width: 1px;
    border-style: solid;
    border-color: black;

    width: 25vw;
    height: 95vh;
    /* overflow-y: auto; /* makes div scrollable */
    margin-left: 38vw;
    position: absolute;
    text-align: center;

    display: flex;
    flex-direction: column;

    background: #323232;

    overflow: auto;
}

#finished-posts-title,
#upcoming-posts-title,
#create-posts-title {
    position: relative;
    font-size: 1.5vw;
    text-align: center;

    margin-top: 1vw;
    margin-bottom: 0.5vw;
    font-family: 'Roboto';
    color: white;
}

.create-posts {
    /* Used as box to modify the size of the buttons */
    border-width: 1px;
    border-style: solid;
    border-color: black;

    width: 25vw;
    height: 45vh;
    margin-top: 50vh;
    margin-left: 70vw;
    position: absolute;
    text-align: center;

    display: flex;
    flex-direction: column;

    background: #323232;
}

.date {
    height: 10%
}

.platform-button {
    font-size: 3vh;
    margin: 0px;
    justify-content: left;
}

.platform-button>img {
    height: 4vh;
    width: auto;
}

.platform-button {
    height: 11vh;
    margin-top: 1vh;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 10px, 10px;
}

.button-text {
    font-size: 3vh;
    position: relative;
    bottom: 25px;
    width: 70%;
}

.delete-all {
    position: absolute;
    max-height: 5vw;
    font-size: 1vw;
    width: 15%;
    height: auto;
    color: white;
}