/* TODO: Make the containers compatible with the size of the browser.  */
@media screen and (max-width: 1450px){}
@media screen and (min-width: 100px){}

.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center-container{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex: 2 1 auto;
    flex-direction: row;
    height: 1000px;
    width: 1450px;
    position: relative;
}

.platform-swicther{
    /* Used as box to modify the size of the buttons */
    border-width: 1px;
    border-style: solid;
    border-color: black;
    /* Real Styling of three icons' sizes */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1000px;
    width: 150px;
    margin-left: 1290px;
    position: absolute;
    background-color: gray;
}

.finished-posts{
    /* Used as box to modify the size of the buttons */
    border-width: 1px;
    border-style: solid;
    border-color: black;

    width: 400px;
    height: 1000px;
    position: absolute;
    text-align: center;

    display: flex;
    flex-direction: column;

    background:gray;
}

.upcoming-posts{
    /* Used as box to modify the size of the buttons */
    border-width: 1px;
    border-style: solid;
    border-color: black;

    width: 400px;
    height: 1000px;
    margin-left: 430px;
    position: absolute;
    text-align: center;

    display: flex;
    flex-direction: column;

    background:gray;
}
.create-posts{
    /* Used as box to modify the size of the buttons */
    border-width: 1px;
    border-style: solid;
    border-color: black;

    width: 400px;
    height: 1000px;
    margin-left: 860px;
    position: absolute;
    text-align: center;

    display: flex;
    flex-direction: column;

    background:gray;
}