    /*Setting background color to black*/
    body {
        background-color: black;

    }

    /* Main text box of a post */
    article {
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: .5in;
        padding: .25in;
        margin: .5in;
        width: auto;
        height: auto;
    }

    /* post head should contain the date data */
    .post-head {
        display: flex;
        justify-content: center;
    }

    /* post image is the text box to contain the main image */
    .post-image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(192, 192, 192);
        border-radius: .25in;
        padding: .25in;
        margin: .10in;
    }

    /* main image is the image provided by the user */
    #main-image {
        border-radius: .5in;
        padding: .25in;
        margin: .10in;
    }

    /* post body is the text box containing all the post text data */
    .post-body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(56, 56, 56);
        color: white;
        border-radius: .25in;
        padding: .25in;
        margin: .10in;
    }

    /* platform type contains the platform type data */
    .platform-type {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* platform title  alligns the title in the center, and the icon to the end */
    .platform-title {
        flex: 1;
        display: flex;
        text-align: center;
        justify-content: center;
        transform: translateX(.50in);
    }