* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

#post-creator {
    background-color: #d9d9d9;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 24px;
    padding-bottom: 24px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.back-button {
    padding: 12px;
    position: absolute;
    right: 0%;
}

#desc-input {
    height: 100%;
    resize: none;
}
